﻿@using WDT_Assignment_2.Models;
@model TicketsViewModel
@{
    ViewData["Title"] = "Booking";
    var ticketsLeft = ViewBag.TicketsLeft;
    Movie movie = ViewBag.Movie;
    Session session = ViewBag.Session;
    Cineplex cineplex = ViewBag.Cineplex;
}

<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>

<div class="container">
    @if (session == null)
    {
        <p>ViewData is null</p>
    }
    else
    {
        <div class="row" style="margin-top:50px">

            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="caption" style="text-align: center;">
                        <h3>@movie.Title</h3>
                    </div>

                    <img src="@Url.Content(movie.ImageUrl)" alt="@movie.Title" style="width:100%;" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Choose tickets for</h3>
                        <div class="badge">
                            <h3>@session.SessionDay</h3>
                            <h4>@session.SessionTime</h4>
                        </div>
                        <hr />
                        @{
                            if (ticketsLeft == null)
                            {
                                <p class="alert-info">*You can only buy 5 tickets for this transaction.</p>
                            }
                            else
                            {
                                <p class="alert-info">*You have @ticketsLeft tickets left for this transaction.</p>
                            }
                        }
                    </div>
                    <br />
                    <form asp-controller="Booking" asp-action="BookingPost" method="post" role="form">
                        <div class="form-group">
                            <label asp-for="AdultTickets" class="col-xs-6">Adult $45</label>
                            <input asp-for="AdultTickets" id="inAdult" value="0" min="0" max="5"/>
                            <span asp-validation-for="AdultTickets" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConcessionTickets" class="col-xs-6">Concession $20</label>
                            <input asp-for="ConcessionTickets" id="inConcession" value="0" min="0" max="5" />
                            <span asp-validation-for="ConcessionTickets" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-6">Total</label>
                            <p id="total">$0.00</p>
                        </div>
                        <br>
                        <div class="form-group">
                            @*https://stackoverflow.com/questions/13822114/passing-parameters-to-controller-on-click-of-a-button*@
                            <button type="button" class="btn btn-info" name="btnSeat" id="btnSeat" onclick="location.href='@Url.Action("GetAvailableSeats", "Booking", new { cinemaId = cineplex.CineplexId, sessionId = session.SessionId})'">Select seats</button>

                            <p class="alert-danger" id="qtyWarn">Warning: you are trying to add more than the limit of @ticketsLeft tickets</p>
                            <button type="submit" class="btn btn-info" id="btnAdd">Add to cart</button>
                        </div>
                    </form>
                </div>

                <div class="thumbnail">
                    <div class="caption">
                        <h3>About</h3>
                    </div>
                    <p>@movie.LongDescription</p>
                </div>

            </div>

        </div>
    }
</div>

@*
    https://www.w3schools.com/jquery/jquery_events.asp
    https://stackoverflow.com/questions/10389649/possible-to-access-mvc-viewbag-object-from-javascript-file
*@
<input type="hidden" id="ticketsLeft" value="@ViewBag.TicketsLeft" />
<script type="text/javascript">
    $(document).ready(function () {
        var adult = +$("#inAdult").val();
        var concession = +$("#inConcession").val();
        if(adult + concession == 0)
        {
            $("#btnSeat").hide();
            $("#btnAdd").hide();
            
        }

        var ticketsLeft = $("#ticketsLeft").val();
        $("#qtyWarn").hide();
        if (ticketsLeft <= 0) {
            $("#btnSeat").hide();
            $("#btnAdd").hide();
        }
        else
        {
            $("#inAdult").on("click", function () {
                adult = +$("#inAdult").val();
                concession = +$("#inConcession").val();

                var qty = adult + concession;
                if (qty > ticketsLeft && concession > 0) {
                    concession -= 1;
                    $("#inConcession").val(concession);
                }
                qty = adult + concession;

                if (qty > ticketsLeft) {
                    $("#btnSeat").hide();
                    $("#btnAdd").hide();
                    $("#qtyWarn").show();
                } else {
                    $("#btnSeat").show();
                    $("#btnAdd").show();
                    $("#qtyWarn").hide();
                }

                if(qty == 0)
                {
                    $("#btnSeat").hide();
                    $("#btnAdd").hide();
                }

                var total = adult * 45 + concession * 20;
                var text = "$" + total.toFixed(2);
                $("#total").text(text);
            });
            $("#inConcession").on("click", function () {
                adult = +$("#inAdult").val();
                concession = +$("#inConcession").val();

                var qty = adult + concession;
                if (qty > ticketsLeft && adult > 0) {
                    adult -= 1;
                    $("#inAdult").val(adult);
                }
                qty = adult + concession;

                if (qty > ticketsLeft) {
                    $("#btnSeat").hide();
                    $("#btnAdd").hide();
                    $("#qtyWarn").show();
                } else {
                    $("#btnSeat").show();
                    $("#btnAdd").show();
                    $("#qtyWarn").hide();
                }

                if(qty == 0)
                {
                    $("#btnSeat").hide();
                    $("#btnAdd").hide();
                }

                var total = adult * 45 + concession * 20;
                var text = "$" + total.toFixed(2);
                $("#total").text(text);
            });
        }
    });
</script>