﻿@using WDT_Assignment_2.Models;
@model SeatsViewModel

@{
    ViewData["Title"] = "Seats";
    var seat = (List<SelectListItem>)ViewData["Seats"];
    var movie = ViewBag.Movie;
    var session = ViewBag.Session;
    TicketsViewModel tickets = ViewBag.TicketsViewModel;
}

<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>

<div class="container">
    @if (ViewData["Seats"] == null)
    {
        <p>ViewData is null</p>
    }
    else
    {
        <div class="row" style="margin-top:50px">

            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="caption" style="text-align: center;">
                        <h3>@movie.Title</h3>
                    </div>

                    <img src="@Url.Content(movie.ImageUrl)" alt="@movie.Title" style="width:100%;" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="thumbnail">
                    <div class="caption" style="text-align: center;">
                        <h3>Choose Seats</h3>
                    </div>

                    <img src="~/images/cineplex seats.png" alt="Theatre Seats" style="width:100%;" />
                    <div>
                        <h4>Select your seat</h4>
                    </div>
                    <hr />
                    <form asp-controller="ShoppingCart" asp-action="AddToCart" method="post" role="form">
                        @{ 
                            if(tickets.AdultTickets > 0)
                            {
                                for(int i=1; i <= tickets.AdultTickets; i++) // display forms for adult tickets
                                {
                                    string selectId = "adult" + i;
                                    <div class="form-group">
                                        <label class="control-label">Select seat for adult</label>
                                        <select id="@selectId"asp-for="@seat" asp-items="@seat"></select>
                                    </div>
                                }
                            }

                            if (tickets.ConcessionTickets > 0)
                            {
                                for (int i = 1; i <= tickets.ConcessionTickets; i++) // display forms for concession tickets
                                {
                                    string selectcId = "conce" + i;
                                    <div class="form-group">
                                        <label class="control-label">Select seat for concession</label>
                                        <select id="@selectcId" asp-for="@seat" asp-items="@seat"></select>
                                    </div>
                                }
                            }
                        }
                    </form>
                </div>
            </div>
        </div>
    }
</div>

<p id="getSN">GET</p>

<script type="text/javascript">
    $(document).ready(function () {
        var postString = "";
        $('body').on("click", function() 
        {
            var a1 = ($('#adult1 option:selected').text());
            var a2 = ($('#adult2 option:selected').text());
            var a3 = ($('#adult3 option:selected').text());
            var a4 = ($('#adult4 option:selected').text());
            var a5 = ($('#adult5 option:selected').text());

            var c1 = ($('#conce1 option:selected').text());
            var c2 = ($('#conce2 option:selected').text());
            var c3 = ($('#conce3 option:selected').text());
            var c4 = ($('#conce4 option:selected').text());
            var c5 = ($('#conce5 option:selected').text());

            //postString = a1 + ":" + a2 + ":" + a3 + ":" + a4 + ":" + a5 + ":" + c1 + ":" + c2 + ":" + c3 + ":" + c4 + ":" + c5 + ":";

            //var values = [$('#adult1 option:selected').text(), $('#adult2 option:selected').text(), $('#adult3 option:selected').text(),
            //$('#adult4 option:selected').text(), $('#adult5 option:selected').text(), $('#conce1 option:selected').text(), 
            //$('#conce2 option:selected').text(), $('#conce3 option:selected').text(), $('#conce4 option:selected').text(),
            //$('#conce5 option:selected').text()]

            var values = [a1, a2, a3, a4, a5, c1, c2, c3, c4, c5];

            var splitter = ":";
            var i = 0;
            var len = values.length;
            var k   ;
            for (; i < len; i++)
            {
                k = values[i];
                // https://www.w3schools.com/js/js_mistakes.asp Undefined is Not Null
                if (typeof k !== "undefined" && k !== null) {
                    postString = postString + k;

                }
                i++
            }

            $('#getSN').text(postString);
            //alert(postString);
            postString = "";
        });

    });
</script>
