﻿@using WDT_Assignment_2.Models;
@{
    ViewData["Title"] = "Home";

    var allMovies = (List<Movie>)ViewData["AllMovies"];
}

<h2>Welcome to ABC Cineplex</h2>
<br />
<p>ABC Cineplex has many luxury class <a asp-controller="Cinemas" asp-action="GetAllCinemas">Movie Plaza theatres</a> across Melbourne.</p>

<br />
<hr />

<h2 class="text-center">Now Showing</h2>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        @{
            foreach (var movie in allMovies)
            {
                string activeString = movie.MovieId == 1 ? "item active" : "item";
                <div class="@activeString">
                    <a asp-area="" asp-controller="Movies" asp-action="MovieFirst" asp-route-id="@movie.MovieId">
                        <img src="@Url.Content(movie.ImageUrl)" alt="Test slide" class="img-responsive" style="margin:auto; width:100%;" />
                        @*<div class="carousel-caption" style="padding-top:10px">
                            <h3>@movie.Title</h3>
                        </div>*@
                    </a>
                </div>
            }
        }
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
</div>