﻿@using WDT_Assignment_2.Models;

@{
    ViewData["Title"] = "MovieFirst";
    var dict = (Dictionary<CineplexMovie, List<Cineplex>>)ViewData["MovieFirst"];
    var cineplexMovie = dict.ElementAt(0).Key;
    var allCinemas = dict.ElementAt(0).Value;
}


<div class="container">
    @if (ViewData["MovieFirst"] == null)

    {
        <p>Sorry, Movie not found</p>
    }
    else
    {
        <div class="row" style="margin-top:50px">

            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>@cineplexMovie.Movie.Title</h3>
                    </div>

                    <img src="@Url.Content(cineplexMovie.Movie.ImageUrl)" alt="@cineplexMovie.Movie.Title" style="width:100%; height:520px;" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Choose Theatre Location</h3>
                    </div>
                    @foreach (var cinema in allCinemas)
                    {
                        <ul>
                            <li>
                                <a asp-area="" asp-controller="Cinemas" asp-action="CinemaFirst" asp-route-cinemaId="@cinema.CineplexId" asp-route-movieId="@cineplexMovie.Movie.MovieId">
                                    <h4>@cinema.Location</h4>
                                </a>
                            </li>
                        </ul>
                    }

                </div>

                <div class="thumbnail">
                    <div class="caption">
                        <h3>About</h3>
                    </div>
                    <p>@cineplexMovie.Movie.LongDescription</p>
                </div>
            </div>

        </div>
    }
</div>
