﻿@using WDT_Assignment_2.Models;

@{
    ViewData["Title"] = "Movies";
    var allMovies = (List<Movie>)ViewData["Movies"];
}

<br /><br />

<ul class="nav nav-tabs">
    <li class="active"><a href="#">Now Showing</a></li>
    <li><a asp-area="" asp-controller="Movies" asp-action="UpcomingMovies">Upcoming</a></li>
</ul>

<br /><br />

@*
    https://www.w3schools.com/bootstrap/bootstrap_images.asp
*@
<div class="container">

    <div style="margin-bottom:10px">

        <form method="get" asp-controller="Movies" asp-action="SearchMovies">
            <label for="search">Search movies</label>
            <input type="text" name="search" id="search" />
            <button type="submit" class="btn btn-md">Search</button>
        </form>
    </div>

    <div class="row">
        @{
            foreach (var movie in allMovies)
            {
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a asp-area="" asp-controller="Movies" asp-action="MovieFirst" asp-route-id="@movie.MovieId">
                            <img src="@Url.Content(movie.ImageUrl)" alt="@movie.Title" style="width:100%; height:520px;" />
                            <div class="caption">
                                <h3>@movie.Title</h3>
                                <p>@movie.ShortDescription</p>
                            </div>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
</div>
