﻿@using WDT_Assignment_2.Models;

@{
    ViewData["Title"] = "Upcoming Movies";
    var allUpcoming = (List<MovieComingSoon>)ViewData["AllUpcoming"];
}

<br /><br />

<ul class="nav nav-tabs">
    <li><a asp-area="" asp-controller="Movies" asp-action="GetAllMovies">Now Showing</a></li>
    <li class="active"><a href="#">Upcoming</a></li>
</ul>

<br /><br />

@*
    https://www.w3schools.com/bootstrap/bootstrap_images.asp
*@
<div class="container">
    <div class="row">
        @{
            foreach (var movie in allUpcoming)
            {
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a asp-area="" asp-controller="Movies" asp-action="@movie.MovieComingSoonId">
                            <img src="@Url.Content(movie.ImageUrl)" alt="@movie.Title" style="width:100%; height: 520px" />
                            <div class="caption">
                                <h3>@movie.Title</h3>
                                <p>@movie.ShortDescription</p>
                            </div>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
</div>