﻿@using WDT_Assignment_2.Models;
@{
    ViewData["Title"] = "Checkout";

    ShoppingCart shoppingCart = ViewBag.ShoppingCart;
}

<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
<script src="~/js/jquery.payment.js" type="text/javascript"></script>

<style>
    .noleftpadding {
        padding-left: 0 !important;
    }
</style>

<style type="text/css" media="screen">
    .has-error input {
        border-width: 2px;
    }

    .validation.text-danger:after {
        content: 'Validation failed';
    }

    .validation.text-success:after {
        content: 'Validation passed';
    }
</style>

@* Credit card clientside validation. Code used from https://github.com/stripe/jquery.payment *@
<script>
    jQuery(function($) {
        $('.cc-number').payment('formatCardNumber');
        $('.cc-exp').payment('formatCardExpiry');
        $('.cc-cvc').payment('formatCardCVC');

        $.fn.toggleInputError = function(erred) {
        this.parent('.form-group').toggleClass('has-error', erred);
        return this;
        };

        // Validate as the user types, ALL fields are checked.
        $('form').keyup(function () {
            var cardType = $.payment.cardType($('.cc-number').val());
            $('.cc-number').toggleInputError(!$.payment.validateCardNumber($('.cc-number').val()));
            $('.cc-exp').toggleInputError(!$.payment.validateCardExpiry($('.cc-exp').payment('cardExpiryVal')));
            $('.cc-cvc').toggleInputError(!$.payment.validateCardCVC($('.cc-cvc').val(), cardType));
            $('.cc-brand').text(cardType);
        });

        // Check if inputs are valid, if not prevent POST, otherwise go to payment summary page
        $('form').submit(function (e) {
            var cardType = $.payment.cardType($('.cc-number').val());
            var valCN = $.payment.validateCardNumber($('.cc-number').val());
            var valCE = $.payment.validateCardExpiry($('.cc-exp').payment('cardExpiryVal'));
            var valCVV = $.payment.validateCardCVC($('.cc-cvc').val(), cardType);

            if (!valCN || !valCE || !valCVV) {
                e.preventDefault();
                $('.cc-number').toggleInputError(!valCN);
                $('.cc-exp').toggleInputError(!valCE);
                $('.cc-cvc').toggleInputError(!valCVV);
                $('.cc-brand').text(cardType);
                alert('Invalid credit card details');
                return false;
            }
        });

    });
</script>

@* Display cart summary *@
<div class="container">
    <h2>Cart summary</h2>
    @{
        if (shoppingCart != null)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Cineplex</th>
                        <th>Movie</th>
                        <th>Date time</th>
                        <th>Ticket type</th>
                        <th>Seat number</th>
                        <th>Cost</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        List<Ticket> tickets = shoppingCart.Tickets;
                        foreach (Ticket ticket in tickets)
                        {
                            <tr>
                                <td>@ticket.SessionDetails.Cineplex.Location</td>
                                <td>@ticket.SessionDetails.Movie.Title</td>
                                <td>@ticket.SessionDetails.Session.SessionDay @ticket.SessionDetails.Session.SessionTime</td>
                                <td>@ticket.TicketType</td>
                                <td>@ticket.SeatNumber</td>
                                <td>$@ticket.Price</td>
                            </tr>
                        }
                    }
                    <tr>
                        <td>Total</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>@shoppingCart.Tickets.Count tickets</td>
                        <td>$@shoppingCart.AmountDue</td>
                    </tr>
                </tbody>
            </table>
        }
    }
</div>

<hr />

@* 
    Display credit card form. Code used from https://github.com/stripe/jquery.payment 
    Overrides default jquery validation
*@
<h2>Payment info</h2>

<form asp-controller="ShoppingCart" asp-action="PaymentSummary" novalidate autocomplete="on" method="POST">
    <div class="form-group">
        <label for="cc-number" class="control-label">Credit card number <small class="text-muted">[<span class="cc-brand"></span>]</small></label>
        <input id="cc-number" type="tel" class="input-lg form-control cc-number" autocomplete="cc-number" placeholder="1234 1234 1234 1234" required>
    </div>

    <div class="form-group">
        <label for="cc-exp" class="control-label">Card expiry</label>
        <input id="cc-exp" type="tel" class="input-lg form-control cc-exp" autocomplete="cc-exp" placeholder="MM / YYYY" required>
    </div>

    <div class="form-group">
        <label for="cc-cvc" class="control-label">CVV</label>
        <input id="cc-cvc" type="tel" class="input-lg form-control cc-cvc" autocomplete="off" placeholder="123" required>
    </div>

    <button type="submit" class="btn btn-lg btn-primary">Pay</button>
</form>

