﻿@using Microsoft.AspNetCore.Identity
@using WDT_Assignment_2.Models
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Cart";

    ShoppingCart shoppingCart = ViewBag.ShoppingCart;
}



@{
    if (shoppingCart == null)
    {
        <h3>No tickets in cart</h3>

    }
    else
    {
        if (shoppingCart.Tickets.Count == 0)
        {
            <h3>No tickets in cart</h3>

        }
        else
        {
            <table class="table" style="margin-top:5%;">
                <thead>
                    <tr>
                        <th>Cineplex</th>
                        <th>Movie</th>
                        <th>Date time</th>
                        <th>Ticket type</th>
                        <th>Seat number</th>
                        <th>Cost</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        List<Ticket> tickets = shoppingCart.Tickets;
                        foreach (Ticket ticket in tickets)
                        {
                            <tr>
                                <td>@ticket.SessionDetails.Cineplex.Location</td>
                                <td>@ticket.SessionDetails.Movie.Title</td>
                                <td>@ticket.SessionDetails.Session.SessionDay @ticket.SessionDetails.Session.SessionTime</td>
                                <td>@ticket.TicketType</td>
                                <td>@ticket.SeatNumber</td>
                                <td>$@ticket.Price</td>
                                <td>
                                    <div class="btn btn-sm btn-danger">
                                        <a asp-area="" asp-controller="ShoppingCart" asp-action="RemoveItem" asp-route-itemId="@shoppingCart.Tickets.IndexOf(ticket)" style="text-decoration:none; color:inherit;">Remove</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    <tr>
                        <td>Total</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>@shoppingCart.Tickets.Count tickets</td>
                        <td>$@shoppingCart.AmountDue</td>
                        <td>
                            <div class="btn btn-sm btn-danger">
                                <a class="btn-danger" asp-controller="ShoppingCart" asp-action="RemoveAll" style="text-decoration:none; color:inherit;">Remove all</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr />
            if (SignInManager.IsSignedIn(User))
            {
                <div class="btn btn-lg btn-info">
                    <a asp-controller="ShoppingCart" asp-action="Checkout" style="text-decoration:none; color:inherit;">Checkout</a>
                </div>
            }
            else
            {
                <div class="btn btn-lg btn-info">
                    <a asp-area="" asp-controller="Account" asp-action="Login" style="text-decoration:none; color:inherit;">Log in to start payment</a>
                </div>
            }
        }
    }
}