﻿@using WDT_Assignment_2.Models;
@{
    ViewData["Title"] = "Payment Summary";

    ShoppingCart shoppingCart = ViewBag.ShoppingCart;
}

@* Display payment summary *@
<div class="container">
    <h2>@ViewData["Title"]</h2>
    <p>See you soon! Here are your ticket details:</p>
    @{
        if (shoppingCart != null)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Cineplex</th>
                        <th>Movie</th>
                        <th>Date time</th>
                        <th>Ticket type</th>
                        <th>Seat number</th>
                        <th>Cost</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        List<Ticket> tickets = shoppingCart.Tickets;
                        foreach (Ticket ticket in tickets)
                        {
                            <tr>
                                <td>@ticket.SessionDetails.Cineplex.Location</td>
                                <td>@ticket.SessionDetails.Movie.Title</td>
                                <td>@ticket.SessionDetails.Session.SessionDay @ticket.SessionDetails.Session.SessionTime</td>
                                <td>@ticket.TicketType</td>
                                <td>@ticket.SeatNumber</td>
                                <td>$@ticket.Price</td>
                            </tr>
                        }
                    }
                    <tr>
                        <td>Total</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>@shoppingCart.Tickets.Count tickets</td>
                        <td>$@shoppingCart.AmountDue</td>
                    </tr>
                </tbody>
            </table>
        }
    }

    <div class="btn btn-link">
        <a asp-area="" asp-controller="Movies" asp-action="GetAllMovies">Click here to continue shopping</a>
    </div>

    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
        <button type="submit" class="btn btn-link">Click here to log off</button>
    </form>
</div>