﻿@using WDT_Assignment_2.Models;

@{
    //ViewData["AllCinemas"] = "AllCinemas";
    var allCinemas = (List<Cineplex>)ViewData["AllCinemas"];
}

<h2>Cinemas</h2>
<br />

@*
    TODO:
    Ideal
    - Show only 1 cinema at the same time
    - Update page without reloading
    Or (current)
    - Show all cinemas in a vertical list
*@
<div class="container">

        <div style="margin-bottom:10px">

            <form method="get" asp-controller="Cinemas" asp-action="SearchCinemas">
                <label for="search">Search cinemas</label>
                <input type="text" name="search" id="search" />
                <button type="submit" class="btn btn-md">Search</button>
            </form>
        </div>

        <div class="row">
            @if (allCinemas == null)
            {
                <p>Sorry, Cinema not found</p>
            }
            else
            {
                foreach (var cinema in allCinemas)
                {
                    <a asp-area="" asp-controller="Cinemas" asp-action="GetMoviesByCinema" asp-route-id="@cinema.CineplexId">
                        <div class="row">
                            <div class="col-sm-8">
                                <h3>@cinema.Location</h3>
                                <p>@cinema.LongDescription</p>
                            </div>
                            <div class="col-sm-4">
                                <img src="@Url.Content(cinema.ImageUrl)" alt="@cinema.Location" style="width:100%" />
                            </div>
                        </div>
                    </a>
                    <br />
                    <br />
                }
            }
        </div>
    </div>
