﻿@using WDT_Assignment_2.Models;

@{
    ViewData["Title"] = "Cinemas";
    var allCinemas = (List<Cineplex>)ViewData["AllCinemas"];
    var curCinema = allCinemas.ElementAt(1);
}

<h2>Cinemas</h2>
<br />

@*
    TODO:
    Ideal
    - Show only 1 cinema at the same time
    - Update page without reloading
    Or (current)
    - Show all cinemas in a vertical list
*@
<div class="container">
    <div class="row">
        @{
            foreach (var item in allCinemas)
            {
                <div class="row">
                    <div class="col-sm-8">
                        <h3>@item.Location</h3>
                        <p>@item.LongDescription</p>
                    </div>
                    <div class="col-sm-4">
                        <img src="~/images/placeholder-thumbnail1.png" alt="@item.Location" style="width:100%" />
                    </div>
                </div>
                <br /><br />
            }
        }
</div>

@*<h2>Cinemas</h2>

<div class="container">
    <div class="row">
        @{ 
            foreach (var item in allCinemas)
            {
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="#">
                            <img src="~/images/placeholder-thumbnail1.png" alt="@item.Location" style="width:100%" />
                            <div class="caption">
                                <h3>@item.Location</h3>
                                <p>@item.ShortDescription</p>
                            </div>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
</div>*@
