﻿@using WDT_Assignment_2.Models;

@{
    ViewData["Title"] = "CinemaFirst";
    var dict = (Dictionary<Movie, List<Session>>)ViewData["CinemaFirst"];
    var movie = dict.ElementAt(0).Key;
    var sessions = dict.ElementAt(0).Value;
}

<div class="container">
    @if (ViewData["CinemaFirst"] == null)

    {
        <p>Sorry, Sessions not found</p>
    }
    else
    {
        <div class="row" style="margin-top:50px">

            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="caption" style="text-align: center;">
                        <h3>@movie.Title</h3>
                    </div>

                    <img src="@Url.Content(movie.ImageUrl)" alt="@movie.Title" style="width:100%; height:520px;" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Choose Session Time</h3>
                    </div>
                    <ul style="list-style-type: none;">
                        @{
                            foreach (var session in sessions)
                            {
                            <li>
                                <a asp-area="" asp-controller="Booking" asp-action="Booking" asp-route-sessionId="@session.SessionId">
                                    <div class="badge">
                                        <h3>@session.SessionDay</h3>
                                        <h4>@session.SessionTime</h4>
                                    </div>
                                </a>
                            </li>
                            }
                        }
                    </ul>
                </div>

                <div class="thumbnail">
                    <div class="caption">
                        <h3>About</h3>
                    </div>
                    <p>@movie.LongDescription</p>
                </div>
            </div>

        </div>
    }
</div>
