﻿@using WDT_Assignment_2.Models;

@{
    ViewData["Title"] = "MoviesByCinema";
    var allMovies = (List<Movie>)ViewData["MoviesByCinema"];
    string path = Context.Request.Path;
    var lastValue = path.Split('/').Last();
}

<br /><br />

<ul class="nav nav-tabs">
    <li class="active"><a href="#">Now Showing</a></li>
    <li><a asp-area="" asp-controller="Movies" asp-action="UpcomingMovies">Upcoming</a></li>
</ul>

<br /><br />

@*
    https://www.w3schools.com/bootstrap/bootstrap_images.asp
*@
<div class="container">
    <div class="row">
        @if (ViewData["MoviesByCinema"] == null)

            {
                <p>Sorry, Movies not found</p>
            }
        else
        {
            foreach (var movie in allMovies)
            {
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a asp-area="" asp-controller="Cinemas" asp-action="CinemaFirst" asp-route-cinemaId="@lastValue" asp-route-movieId="@movie.MovieId">
                            <img src="@Url.Content(movie.ImageUrl)" alt="@movie.Title" style="width:100%; height:520px;" />
                            <div class="caption">
                                <h3>@movie.Title</h3>
                                <p>@movie.ShortDescription</p>
                            </div>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
</div>
