﻿@using WDT_Assignment_2.Models;
@model Enquiry

@{
    ViewData["Title"] = "Events";
}

<h2>What we offer</h2>
<p>We can help you plan corporate events for large groups, and we offer better plans than regular booking.</p>
<ul>
    <li><p>Reserve up to 20 seats in one of our luxurious theatres</li>
    <li><p>Bulk prices for catering for groups larger than 5 people</p></li>
    <li><p>Reserve your seats months in advance</p></li>
</ul>

<hr />
<h3>Send us a message</h3>
@*
    https://www.w3schools.com/bootstrap/bootstrap_forms_inputs.asp
*@
<div class="container">
    <form asp-controller="Enquiry" asp-action="Index" method="post" role="form">
        @*<div asp-validation-summary="All" class="text-danger"></div>*@
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" placeholder="email@address.com"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Message" class="control-label"></label>
            <textarea asp-for="Message" class="form-control" rows="6" style="resize:none;" placeholder="Ask about our offers ..."></textarea>
            <span asp-validation-for="Message" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-md">Submit Enquiry</button>
        </div>
    </form>
</div>